<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.blingfeng.user.mapper.PermissionMapper" >
  <resultMap id="BaseResultMap" type="cn.blingfeng.user.pojo.Permission" >
    <id column="permissionid" property="permissionid" jdbcType="BIGINT" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    permissionid, permission, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from permission
    where permissionid = #{permissionid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from permission
    where permissionid = #{permissionid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.blingfeng.user.pojo.Permission" >
    insert into permission (permissionid, permission, description
      )
    values (#{permissionid,jdbcType=BIGINT}, #{permission,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.blingfeng.user.pojo.Permission" >
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionid != null" >
        permissionid,
      </if>
      <if test="permission != null" >
        permission,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionid != null" >
        #{permissionid,jdbcType=BIGINT},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.blingfeng.user.pojo.Permission" >
    update permission
    <set >
      <if test="permission != null" >
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where permissionid = #{permissionid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.blingfeng.user.pojo.Permission" >
    update permission
    set permission = #{permission,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where permissionid = #{permissionid,jdbcType=BIGINT}
  </update>
</mapper>